.footer {
  margin-top: 40px;
  border: 1px solid blue;
  padding-bottom: 20px;
}

.footer-info {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 40px;
}

.footer-links ul {
  list-style: none;
  padding: 0;
}

.footer-links a {
  text-decoration: none;
  font-size: 20px;
  text-transform: uppercase;
  color: #1b5e99;
}

.footer-links li,
.footer-contact p {
  margin: 10px 0;
  color: #1b5e99;
  text-transform: uppercase;
  font-size: 20px;
}

.footer h3 a {
  margin-bottom: 20px;
  text-transform: uppercase;
  cursor: pointer;
}

.footer-about {
  max-width: 350px;
}

.footer-about p {
  color: #1b5e99;
  line-height: 1.6;
  font-size: 18px;
}

.footer-links h3,
.footer-about h3,
.footer-contact h3 {
  font-size: 30px;
  color: #144875;
}

@media (max-width: 1024px) {
  .footer-info {
    flex-direction: column;
    gap: 30px;
  }
}